
        <div class="container">
            <div class="header col-xs-12 col-md-12 col-sm-12">
                <h1 class="col-xs-9 col-md-7 col-sm-9">Portfolio of Minji Yoon</h1>
                <ul class="menu col-md-5 col-sm-3 col-xs-3">
                    <li class="menuList col-md-4">Portfolio</li>
                    <li class="menuList col-md-4">Contact</li>
                    <li class="menuList col-md-4">About</li>
                </ul>
            </div>
            <div class="contents col-xs-12 col-md-12 col-sm-12">
                <h2>Portfolio</h2>
            <ul class="grid col-md-12">
                <li class="gridBox col-md-2 col-sm-4 col-xs-6"><div class="gridBoxInner"><div class="imgSection"><%= image_tag ("box1.jpg") %> </div><div class="textSection">Lorem Ipsum is dummy text</div></div></li>
                <li class="gridBox col-md-2 col-sm-4 col-xs-6"><div class="gridBoxInner"><div class="imgSection"><%= image_tag ("box2.jpg") %></div><div class="textSection">Neque porro quisquam </div></div></li>
                <li class="gridBox col-md-2 col-sm-4 col-xs-6"><div class="gridBoxInner"><div class="imgSection"><%= image_tag ("box3.jpg") %> </div><div class="textSection">Lest qui dolorem ipsum</div></div></li>
                <li class="gridBox col-md-2 col-sm-4 col-xs-6"><div class="gridBoxInner"><div class="imgSection"><%= image_tag ("box4.jpg") %> </div><div class="textSection">consectetur adipiscing elit</div></div></li>
                <li class="gridBox col-md-2 col-sm-4 col-xs-6"><div class="gridBoxInner"><div class="imgSection"><%= image_tag ("box5.jpg") %> </div><div class="textSection">Praesent purus lacus</div></div></li>
                <li class="gridBox col-md-2 col-sm-4 col-xs-6"><div class="gridBoxInner"><div class="imgSection"><%= image_tag ("box6.jpg") %> </div><div class="textSection"> tincidunt sit amet varius velt</div></div></li>
                <li class="gridBox col-md-2 col-sm-4 col-xs-6"><div class="gridBoxInner"><div class="imgSection"><%= image_tag ("box7.jpg") %> </div><div class="textSection">facilisis eget nisl. Aenean</div></div></li>
                <li class="gridBox col-md-2 col-sm-4 col-xs-6"><div class="gridBoxInner"><div class="imgSection"><%= image_tag ("box8.jpg") %> </div><div class="textSection">feugiat mi lacinia vitae</div></div></li>
                <li class="gridBox col-md-2 col-sm-4 col-xs-6"><div class="gridBoxInner"><div class="imgSection"><%= image_tag ("box9.jpg") %> </div><div class="textSection">vitae gravida orci volutpat vit</div></div></li>
                <li class="gridBox col-md-2 col-sm-4 col-xs-6"><div class="gridBoxInner"><div class="imgSection"><%= image_tag ("box10.jpg") %> </div><div class="textSection">ipsum primis in faucibus.</div></div></li>
                <li class="gridBox col-md-2 col-sm-4 col-xs-6"><div class="gridBoxInner"><div class="imgSection"><%= image_tag ("box11.jpg") %> </div><div class="textSection">Proin accumsan porttitor justo</div></div></li>
                <li class="gridBox col-md-2 col-sm-4 col-xs-6"><div class="gridBoxInner"><div class="imgSection"><%= image_tag ("box12.jpg") %> </div><div class="textSection">Lorem Ipsum is dummy text</div></div></li>
            </ul>
            </div>
            <div class="footer col-xs-12 col-md-12 col-sm-12">
                <p>Designed by minininion</p>
            </div>
            <div class="dark">
                <div class="lightBox"><div class="lightImgSection"></div></div>
            </div>
        </div>